
.ba{
    background-image:url("C:\Users\USER\Desktop\my project\portfolio\design\src\assets\Gradient.png");
    background-size: cover;
    background-repeat: no-repeat;
   
  
}

/* globals.css */

@layer components {
    progress::-webkit-progress-bar {
      background-color: yellow;
      border-radius: 7px;
    }
  
    progress::-webkit-progress-value {
      background-color: magenta;
      border-radius: 4px;
      /* box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8); */
    }
   
  }


 /* BASE BUTTON */
.btn-style704 {
  position: relative;
  background: #97b513;
  border: 1px solid #bf7b7b;
  color: #fff;
  overflow: hidden;
  padding: 10px 25px;
  border-radius: 6px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  z-index: 5;
}


/* BOTTOM WHITE LINE */
.btn-style704::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
  background: white;
  transition: width 0.3s ease;
  z-index: 8; /* below hover text */
}


/* HOVER SLIDE TEXT ("CLICK") */
.btn-style704::after {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: #d80606; /* slightly darker red */

  transform: translateY(-100%);
  transition: transform 0.35s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 20;  /* VERY IMPORTANT → ABOVE "view details" */
  pointer-events: none; /* prevent blocking */
}


/* HOVER EFFECTS */
.btn-style704:hover::before {
  width: 100%;
}

.btn-style704:hover::after {
  transform: translateY(0); /* slide down → cover view details */
}



